// Place all the styles related to the Facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{
  width:1000px;
  height:500px;
  margin:0 auto;
  img{max-width:none;}
}
.name{
  padding: 0 0.5em;
  h1{
    color:#ab4521;
  }
}