<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 class = "topbar-title">Alcohol Causes Crimes</h1>
    </li>
    
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <div class="row-collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Location Search" class="controls" id="pac-input">
          </div>
    <div class="large-4 small-3 columns locButton">
      <button class="alert button expand" id="pac-button-input">Search</button>
    </div>
        </div>
      </li>
      <li class="has-dropdown">
        <a href="#">About This Project</a>
        <ul class="dropdown">
          <li><a href="http://www.github.com/AdamHKaplan" target="_blank">Adam Kaplan</a></li>
          <li><a href = "#">Alcohol</a></li>
          <li><a href = "#">Crime</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>